* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}


header {
    background-color: #7fd18a;
    text-align: center;
    padding: 2rem 1rem;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    
}

header p {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #333;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.cat-img {
    width: 300px;
    border-radius: 12px;
} 
nav a:hover {
    background-color: #555;
}
.shankyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}
.luiBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}
.sabrinaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

footer {
    background-color: #636363;
    color: rgb(221, 222, 226);
    text-align: center;
    padding: 5rem 1rem;
}
